*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    text-align: center;
    margin: auto;
}
header{
    max-width: 100%;
    min-height: 3rem;
    background-color: aquamarine;
    /* margin-bottom: 3rem; */
}
main h3{
    padding: 3rem 0;
}
form input[type='text']{
    border-radius: 10px;
    min-width: 15rem;
    padding: 3px 5px;
}
select{
    border-radius: 10px;
    padding: 3px 5px;
}
form input[type='button']{
    padding: 3px 10px;
    margin-left: 1rem;
    color: whitesmoke;
    border: none;
    background-color: rgb(45, 170, 170);
    font-size: large;
    cursor: pointer;
}
main{
    margin-bottom: 7rem;
}

.btn-section button{
    padding: 3px 10px;
    margin-right: 10px;
    color: whitesmoke;
    border: none;
    background-color: rgb(45, 170, 170);
    font-size: large;
    cursor: pointer;
}
.btn-section{
    margin-bottom: 2rem;
}
section{
    padding: 0 7rem;
}
.item{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    
}
.error{
    color: red;
    margin-left: -9rem;
    display: none;
}
.product{
    height: 230px;
    width: 200px;
    border: 1px solid black;
    margin-bottom: .6rem;
}
.product img{
    width: 100%;
}
.delete-btn{
    background-color: rgb(45, 170, 170);
    color: whitesmoke;
    border: none;
    padding: 5px 0;
    cursor: pointer;
}
.catalog{
    display: flex;
    flex-wrap: wrap;
}
.item{
    margin-right: 10px;
}